<!-- Page aside -->
<section class="c-page-aside">
  <ul class="c-menu-aside">

    <li class="c-menu-aside__item">
      <a href="#" class="c-menu-aside__link c-menu-aside__link--user">
        <span class="c-menu-aside__link-text">Hello, Mircea</span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="#" class="c-menu-aside__link">
        <span class="c-menu-aside__icon"></span>
        <span class="c-menu-aside__link-text">Overview</span>
        <span class="c-menu-aside__icon c-menu-aside__icon--mobile"></span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="#" class="c-menu-aside__link">
        <span class="c-menu-aside__icon"></span>
        <span class="c-menu-aside__link-text">My Applications</span>
        <span class="c-menu-aside__icon c-menu-aside__icon--mobile"></span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="#" class="c-menu-aside__link">
        <span class="c-menu-aside__icon"></span>
        <span class="c-menu-aside__link-text">Service Status</span>
        <span class="c-menu-aside__icon c-menu-aside__icon--mobile"></span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="#" class="c-menu-aside__link">
        <span class="c-menu-aside__icon"></span>
        <span class="c-menu-aside__link-text">Documentation</span>
        <span class="c-menu-aside__icon c-menu-aside__icon--mobile"></span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="#" class="c-menu-aside__link">
        <span class="c-menu-aside__icon"></span>
        <span class="c-menu-aside__link-text">Suport</span>
        <span class="c-menu-aside__icon c-menu-aside__icon--mobile"></span>
      </a>
    </li>


    <!-- DEMO LINKS, doar pentru a putea naviga prin pagini, -->

    <li class="c-menu-aside__item">
      <a href="#" class="c-menu-aside__link">
        <span class="c-menu-aside__link-text">Bellow Demo links</span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="./login.html" class="c-menu-aside__link">
        <span class="c-menu-aside__link-text">Login</span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="./applications.html" class="c-menu-aside__link">
        <span class="c-menu-aside__link-text">Applications</span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="./newapplication.html" class="c-menu-aside__link">
        <span class="c-menu-aside__link-text">New application</span>
      </a>
    </li>

    <li class="c-menu-aside__item">
      <a href="./tabs.html" class="c-menu-aside__link">
        <span class="c-menu-aside__link-text">Tabs</span>
      </a>
    </li>

  </ul>
</section><!-- Page aside -->
