<!-- Buttons container -->
<section class="buttons-container text-left">

  <button class="[ list-btn ] [ btn btn-primary ]">Build logs</button>

  <button class="[ list-btn btn--white ] [ btn ] ">Applications logs</button>

  <div class="[ list-btn c-dropdown ] dropdown ">

    <button
      class="btn dropdown-toggle c-dropdown__toggle"
      type="button"
      id="dropdownMenu1"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="true">
      Media-server-2
    </button>

    <ul class="dropdown-menu c-dropdown__menu" aria-labelledby="dropdownMenu1">
      <li class="c-dropdown__item">Last 10 min</li>
      <li class="c-dropdown__item">Last 30 min</li>
      <li class="c-dropdown__item">Last day</li>
      <li class="c-dropdown__item">Last week</li>
    </ul>

  </div><!-- /Dropdown -->

</section><!-- Buttons container -->





<section class="section-logs">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
   <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad
 <br>
  voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
   <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!

   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
    <br>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
   <br>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad
  <br>
   voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
    <br>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
     <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad
   <br>
    voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!
     <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ad voluptas, ex similique labore eos nobis temporibus tempora porro accusantium eveniet alias. Vero impedit adipisci ad asperiores sint hic unde!

</section>
