<!-- Buttons container -->
<section class="buttons-container text-right">
  <!-- Dropdown -->
  <div class="list-btn dropdown c-dropdown">

    <button
      class="btn dropdown-toggle c-dropdown__toggle"
      type="button"
      id="dropdownMenu1"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="true">
      Aggretated
    </button>

    <ul class="dropdown-menu c-dropdown__menu" aria-labelledby="dropdownMenu1">
      <li class="c-dropdown__item">Last 10 min</li>
      <li class="c-dropdown__item">Last 30 min</li>
      <li class="c-dropdown__item">Last day</li>
      <li class="c-dropdown__item">Last week</li>
    </ul>

  </div><!-- /Dropdown -->

  <!-- Dropdown -->
  <div class="list-btn  dropdown c-dropdown">

    <button
      class="btn dropdown-toggle c-dropdown__toggle"
      type="button"
      id="dropdownMenu1"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="true">
      Last hour
    </button>

    <ul class="dropdown-menu c-dropdown__menu" aria-labelledby="dropdownMenu1">
      <li class="c-dropdown__item">Last 10 min</li>
      <li class="c-dropdown__item">Last 30 min</li>
      <li class="c-dropdown__item">Last day</li>
      <li class="c-dropdown__item">Last week</li>
    </ul>

  </div><!-- /Dropdown -->

</section><!-- Buttons container -->




<!-- Card -->
<section class="c-card card-chart">
  <h3 class="c-card__title">Media Servers</h3>
  <canvas id="chart1" class="c-chart" width="1000" height="260"></canvas>
</section><!-- /Card -->

<!-- Card -->
<section class="c-card card-chart">
  <h3 class="c-card__title">Memory usage</h3>
  <canvas id="chart2" class="c-chart" width="1000" height="260"></canvas>
</section><!-- /Card -->

<!-- Card -->
<section class="c-card card-chart">
  <h3 class="c-card__title">CPU usage</h3>
  <canvas id="chart3" class="c-chart" width="1000" height="260"></canvas>
</section><!-- /Card -->
