<!DOCTYPE html>

<html class="no-js" lang="en">

  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front end prototype setup</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{root}}assets/css/app.css">

  </head>

  <body class="">

    {{#unlesspage 'login'}}
      {{> header}}
    {{/unlesspage}}



    <main class="main">

      {{> aside}}



      <!-- Page content -->
      <section class="page-container">
        {{>breadcrumb}}





        <section class="page-content">
          {{> body}}
        </section>

      </section><!-- Page content -->

    </main><!-- /Page content -->




      <!-- Footer -->
      <footer class="page-footer">

      </footer><!-- Footer -->



    <section class="menu-overlay [ js-menu-overlay ]">

    </section>

    <script src="{{root}}assets/js/vendor.js"></script>
    <script src="{{root}}assets/js/app.js"></script>

  </body>

</html>
